# Compiled Object files
*~
*.sln
*.vcxproj*
*.vcproj*
*.db
*.exe
*.lib
*.a
*.so
*.dll
.*
.#*
*.ilk
*.obj
*.pdb
*.exp
*.log
*.bin
*.man
*.zip
*.7z
*.pptx
*.doc
*.orig
*.pdf
*.jpg
*.raw
*.html
\#*
debug
release
output
stage
build/
doc/_build/
binary/
!.gitignore
!.projectile
!.clang-format
!.dir-locals.el
!.travis.yml
!*.sh
!.babelrc
*node_modules*
GTAGS
GPATH
GRTAGS
dist
Debug
Release
3rd
src.